html, body {
    background-color: #2F4858;
    color: #F0F0F0;
    font-family: 'Oxygen', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.card {
    color: #212121;
}
